currency-display {
    display: flex;
    background-color: $color-black;
    padding: 10px 10px 10px 5px;
    margin: 0 20px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 15px 0px #000;
    width: 114px;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
    opacity: 1;
    transition: opacity 250ms linear;
    user-select: none;
    box-sizing: border-box;

    --width: 130px;
    width: var(--width);

    > span {
        font-family: var(--font-mono);
    }

    &.hidden {
        opacity: 0;
    }

    .resource.particle {
        --size: 20px;
        margin-right: 10px;
        margin-left: 5px;

        &::before,
        &::after {
            font-size: 14px;
        }
    }

    tool-tip {
        --offset: calc(100% + 15px);
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        border-radius: 10px;
    }

    &::before {
        content: "";
        position: absolute;
        width: calc(100% + 6px);
        height: calc(100% + 6px);
        top: -3px;
        left: -3px;
        border-radius: 10px;
        z-index: -2;
    }

    &::after {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: black;
        z-index: -1;
    }

    &[design="rgb"]::before {
        --start-color: rgb(255 28 28);
        --mid-color: rgb(0, 153, 218);
        --end-color: rgb(0, 255, 55);
        background: linear-gradient(225deg, var(--start-color) 0%, var(--mid-color) 52%, var(--end-color) 100%);
    }

    &[design="red"]::before {
        background: linear-gradient(225deg, rgb(143, 0, 0) 0%, rgb(255, 113, 194) 100%);
    }

    &[design="green"]::before {
        background: linear-gradient(225deg, rgba(0, 163, 41, 1) 0%, rgba(0, 255, 217, 1) 100%);
    }

    &[design="blue"]::before {
        background: linear-gradient(225deg, rgb(35, 35, 185) 0%, rgba(0, 212, 255, 1) 100%);
    }

    &[design="electron"]::before {
        background: linear-gradient(80deg, #fbff00 0%, #8d8b00 100%);
    }

    &[design="muon"]::before {
        background: linear-gradient(80deg, #c4c700 0%, #6b6900 100%);
    }

    &[design="tau"]::before {
        background: linear-gradient(80deg, #7d8000 0%, #424100 100%);
    }

    &[design="gluon"]::before {
        background: linear-gradient(80deg, #00aabb 0%, #00ff44 100%);
    }

    &[design="z-boson"],
    &[design="w-plus-boson"],
    &[design="w-minus-boson"] {
        &::before {
            background: linear-gradient(80deg, #aaaaaa 0%, #dddddd 100%);
        }
    }

    &[design="higgs"]::before {
        background: linear-gradient(80deg, #998800 0%, #bb9900 100%);
    }

    &[design="photon"] {
        animation: animate-currency-shadow 4s linear infinite;
        &::before {
            background: linear-gradient(80deg, #bbbb77 0%, #ffffff 50%, #bbbb77 100%);
            animation: animate-currency 2s linear infinite;

            @keyframes animate-currency {
                from {
                    background-position-x: 0px;
                }

                to {
                    background-position-x: var(--width);
                }
            }
        }

        @keyframes animate-currency-shadow {
            0% {
                box-shadow: 0 0 15px 0px #bbbb7700;
            }

            50% {box-shadow: 0 0 20px 0px #ffffbb
            }

            100% {box-shadow: 0 0 15px 0px #bbbb7700;
            }
        }
    }
}
