input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid #aaa;
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
    flex-shrink: 0;
    position: relative;
    transition: border-color 150ms, background 150ms;
    margin: 0;
    margin-right: 0.5rem;

    &:hover,
    &:active {
        border-color: #fff;
    }

    &:checked {
        background: #666;
        border-color: #666;

        &:hover,
        &:active {
            background-color: #4f4f4f;
            border-color: #4f4f4f;
        }
    }

    &:checked::after {
        content: '';
        position: absolute;
        left: 4px;
        top: 1px;
        width: 5px;
        height: 9px;
        border: 2px solid #fff;
        border-top: none;
        border-left: none;
        transform: rotate(45deg);
    }

    &:focus-visible {
        outline: none;
    }

    &:disabled {
        pointer-events: none;
    }
}

label:has(input[type="checkbox"]:disabled) {
    pointer-events: none;
        opacity: 0.4;
}

select {
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3e3e3e;
    color: #fff;
    border: 2px solid #3e3e3e;
    transition: border-color 150ms, background-color 150ms;
    outline: none;

    &:hover {
        background-color: #575757;
        border-color: #575757;
    }

    &:active {
        background-color: #3e3e3e;
        border-color: #3e3e3e;
    }

    option {
        background-color: #3e3e3e;
    }
}
