@import "../settings/gradients.scss";

// todo: implement dark mode
// body.dark-mode {
//     --color-navigation: #1d1d1d;
//     --color-navigation-inactive: #555;
//     --color-navigation-hover: #2d2d2d;
//     --color-navigation-active: #3e3e3e;
//     --color-navigation-disabled: #333;
// }

nav.main-nav {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 2;
    max-width: 100vw;
    overflow: auto;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }

    background-color: var(--color-navigation);
    color: var(--color-navigation-inactive);
    box-shadow: 1px 1px 11px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 11px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 11px 2px rgba(0,0,0,0.75);

    transition: color 250ms, background-color 250ms;

    &::after {
        content: "";
        position: fixed;
        width: 100%;
        height: 3px;
        top: 87px;
        @include gradient-quark-rgb;
        background: var(--gradient-repeating);
        animation: move-nav-gradient 10s linear infinite;

        @keyframes move-nav-gradient {
            from {
                background-position-x: 0vw;
            }

            to {
                background-position-x: 100vw;
            }
        }
    }

    .nav-entry {
        padding: 20px 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 150ms, color 150ms;

        &:first-of-type {
            margin-left: auto;
        }

        &:last-of-type {
            margin-right: auto;
        }

        @keyframes flash {
            0% {
                color: rgb(196, 0, 0);
                transform: translateX(0);
            }

            10% { transform: translateX(-4px); }
            20% {
                color: rgb(196, 0, 0);
                transform: translateX(4px);
            }

            30% { transform: translateX(-4px); }

            40% { transform: translateX(4px); }
            50% { transform: translateX(-3px); }
            60% { transform: translateX(3px); }

            70% { transform: translateX(-2px); }
            80% { transform: translateX(2px); }

            100% {
                color: inherit;
                transform: translateX(0);
            }
        }

        &.flash svg {
            animation: flash 300ms ease-out 1;
        }

        path {
            transition: filter 150ms;
        }

        &:not(.disabled) {
            cursor: pointer;

            &:hover {
                background-color: var(--color-navigation-hover);
            }
        }

        &.active {
            color: var(--color-navigation-active);

            path {
                filter: drop-shadow(3px 3px 24px rgba(0, 0, 0, .7));
            }
        }

        &.disabled {
            color: var(--color-navigation-disabled);
        }
    }
}
