@import "../settings/gradients.scss";

#offline-progress {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 1.5s;
    z-index: 100000;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .bobber {
        --color: #fff;
        transition: opacity 250ms;
        opacity: 0;
        height: 50px;
        margin: 20px 0;
    }

    button,
    h1,
    h2 {
        transition: opacity 250ms;
    }

    &.loading {
        .bobber {
            opacity: 1;
        }

        button {
            opacity: 0;
            pointer-events: none;
        }

        h1 {
            @include gradient-photon;
        }
    }

    &.dismissed {
        opacity: 0;
        pointer-events: none;

        button,
        h1,
        h2 {
            opacity: 0;
        }

        button {
            color: #fffa;

            &::before {
                transition: right 300ms;
                right: -300%;
            }
        }
    }

    button {
        animation: fadeIn 500ms ease forwards;
        border: none;
        padding: 0.85rem 2.5rem;
        border-radius: 20px;
        background-color: #292929;
        font-size: 1.3rem;
        font-weight: lighter;
        color: #fffa;
        text-transform: uppercase;
        cursor: pointer;
        transition: color 300ms, opacity 250ms;
        position: relative;
        overflow: hidden;

        translated-string {
            z-index: 2;
            position: relative;
        }

        &::before {
            z-index: 1;
            position: absolute;
            top: 0;
            content: "";
            height: 100%;
            width: 100%;
            @include gradient-gluon;
            background: var(--gradient-repeating);
            animation: fadeIn 500ms ease forwards;
            transition: right 1s;
            -webkit-mask-image: linear-gradient(to left, transparent 10%, black, black, transparent 90%);
            mask-image: linear-gradient(to left, transparent 10%, black, black, transparent 90%);
            width: 300%;
            right: 300%;
        }

        &:hover,
        &:active {
            &::before {
                transition: right 200ms;
            }
        }

        &:hover {
            color: #000a;

            &::before {
                right: -100%;
            }
        }

        &:active {
            color: #fffa;

            &::before {
                right: -300%;
            }
        }
    }

    h1,
    h2 {
        font-size: 4rem;
        font-weight: 300;
        margin: 0;
        color: transparent;
        @include gradient-gluon;
        background: var(--gradient-repeating);
        background-clip: text;
        width: 100vw;
        text-align: center;
        line-height: 4.5rem;
        user-select: none;
        background-size: 50rem 100%;

        @keyframes move-text-bg {
            from {
                background-position-x: 0vw;
            }

            to {
                background-position-x: 50rem;
            }
        }

        filter: opacity(0);
        animation: fadeIn 500ms ease forwards, move-text-bg 5s linear infinite;
    }

    h2 {
        @include gradient-weak;
        font-size: 2rem;
        font-weight: 500;
        line-height: 2rem;
        margin-bottom: 2rem;
        margin-top: 0.5rem;
        opacity: 0.7;
    }

    .bobber {
        filter: opacity(0);
        animation: l43 1s infinite linear, fadeIn 500ms ease forwards;
    }

    @keyframes fadeIn {
        from {
            filter: opacity(0);
        }
    
        to {
            filter: opacity(1);
        }
    }

    * {
        display: none;
    }

    &.rendering {
        * {
            display: initial;
        }
    }
}
