#popover-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10001;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: rgba(0, 0, 0, .5);
        opacity: 0;
        transition: opacity 150ms;
    }

    &:has([data-popover]:not(.dismissed)) {
        pointer-events: all;

        &::before {
            opacity: 1;
        }

        [data-popover] {
            &:not(.hidden) {
                opacity: 1;
            }
        }
    }

    [data-popover] {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: hsla(0, 0%, 100%, .05);
        border-radius: 20px;
        padding: 20px 30px;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        min-width: 300px;
        max-width: 80vw;
        max-height: 80vh;
        transition: opacity 150ms;

        &.hidden,
        &.dismissed {
            opacity: 0;
        }

        &:not(:first-child) {
            display: none;
        }

        h1 {
            margin: 0;
            font-weight: lighter;
            width: 100%;
            margin-bottom: 1rem;
            user-select: none;
        }

        .content {
            width: 100%;
        }

        .popover-buttons {
            display: flex;
            width: 100%;
            margin-top: 1rem;
            gap: 0.5rem;
        }
    }

    export-pop-over {
        pre {
            white-space: normal;
            word-break: break-all;
            max-height: 200px;
            overflow-y: auto;
            max-width: 700px;
        }
    }

    import-pop-over {
        textarea {
            width: 100%;
            box-sizing: border-box;
            padding: 10px;
            background-color: #0003;
            border: none;
            border-radius: 15px;
            color: #fff;
            font-family: inherit;
            font-size: 1rem;
            resize: none;
            height: 150px;
            width: 600px;
            max-width: 100%;

            &:focus {
                outline: none;
            }

            &::placeholder,
            &::-webkit-input-placeholder {
                user-select: none;
            }
        }
    }
}
