resource-gain {
    position: absolute;
    width: 10px;
    height: 10px;
    animation: fadeOut 2s ease forwards;
    align-items: center;
    white-space: nowrap;

    .particle {
        display: inline-block;
    }

    span {
        font-weight: bold;
        text-shadow: 1px 3px 4px rgba(0, 0, 0, 1);
        transform: translate(6px, -7px);
        display: inline-block;
    }
}

@keyframes fadeOut {
    0% {
        transform: translateY(0px);
        opacity: 0;
    }

    10% {
        transform: translateY(-10px);
        opacity: 1;
    }

    100% {
        transform: translateY(-100px);
        opacity: 0;
    }
}
