.sub-tabs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    z-index: 10002;

    > span {
        margin: 0 30px;
        cursor: pointer;
        position: relative;

        &:not(.disabled):hover > translated-string {
            opacity: 0.8;
        }

        &::before {
            content: "";
            position: relative;
            width: 8px;
            height: 8px;
            bottom: 14px;
            left: 100%;
            border-radius: 100%;
            display: inline-block;
            background-color: rgb(255, 54, 54);
            opacity: 0;
            transition: opacity 150ms;
        }

        &.new::before {
            opacity: 1;
        }

        &.active {
            > translated-string {
                opacity: 1;
            }

            tool-tip {
                opacity: 0;
                pointer-events: none;
            }
        }

        &.disabled {
            cursor: default;

            > translated-string {
                opacity: 0.15;
            }
        }

        > translated-string {
            opacity: 0.4;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 3px;
            transition: opacity 150ms;
        }
    }
}
