system-tab {
    position: relative;
    display: flex;
    justify-content: center;
    user-select: none;

    .tab,
    .tab-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10000;
        opacity: 0;
        pointer-events: none;
        transition: opacity var(--timing-tab-transition), filter var(--timing-tab-transition);
        filter: blur(3px);
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: #fff6 transparent;
        -webkit-scrollbar-width: thin;
        -webkit-scrollbar-color: #fff6 transparent;

        &.active {
            opacity: 1;
            pointer-events: auto;
            filter: blur(0px);
        }
    }

    .tab-background {
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(20px);
    }

    .tab {
        z-index: 10001;
        box-sizing: border-box;

        .section {
            background-color: rgba(255, 255, 255, 0.05);
            border-radius: 20px;
        }

        .section-title {
            font-size: 24px;
            font-family: var(--font-title);
            font-weight: 200;
            letter-spacing: 3px;
            margin-bottom: 5px;
            display: inline-block;
        }
    }
}
