@import "../settings/textstyle.scss";

tool-tip {
    position: absolute;
    background-color: var(--color-tooltip);
    color: var(--color-tooltip-text);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px 0px #000;
    border-radius: 5px;
    padding: 10px 15px;
    white-space: nowrap;
    --offset: calc(100% + 5px);
    bottom: var(--offset);
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    opacity: 0;
    transition: opacity 150ms;
    user-select: none;
    width: max-content;
    height: max-content;

    &.visible {
        opacity: 1;
    }

    &[hidden] {
        opacity: 0;
    }

    &[center] {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .flavor-text {
        color: var(--color-tooltip-description);
        font-size: 14px;
        font-style: italic;
    }

    .currency-list {
        display: flex;
        margin: 15px 0 5px;
        gap: 15px;

        currency-display {
            margin: 0;
        }
    }

    .flavor-text + currency-display {
        margin-top: 10px;
    }
}

#tooltip-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    pointer-events: none;
}

// specific stylings
tool-tip.energy-subtab {
    padding: 10px 5px;
    flex-direction: column;
    align-items: center;

    currency-display[name="energy"] {
        @include energy-text;
        justify-content: center;
    }
}

tool-tip.forces-subtab {
    align-items: center;

    .flavor-text {
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
    }

    currency-display {
        font-size: 14px;
        justify-content: center;
        width: 100%;

        span {
            margin-right: 10px;
        }
    }
}

tool-tip.fluctuators {
    width: 250px;
    white-space: normal;
}

tool-tip.particle-conversion {
    width: 250px;
    white-space: normal;
}

tool-tip.fluctuator-buttons {
    width: fit-content;
    right: inherit;
    left: var(--offset);
}

tool-tip.fluctuator-interval {
    width: 200px;
    white-space: normal;
    text-align: center;
}

tool-tip.footer-currency .title {
    font-weight: bold;
}
