@import "../../helpers.scss";

#tab-fields {
    position: relative;
    min-height: var(--content-height);
    display: flex;
    justify-content: center;

    canvas {
        position: absolute;
        top: 0;
        z-index: 9;

        &.hovered {
            cursor: pointer;
            z-index: 10;
        }
    }
}
