@import "../../helpers.scss";

#tab-fields {
    .fields {
        position: relative;
        min-height: var(--content-height);
        justify-content: center;
        user-select: none;
    }

    canvas {
        position: absolute;
        top: 0;
        z-index: 9;

        &.hovered {
            cursor: pointer;
            z-index: 10;
        }
    }
}
