@import "../../helpers.scss";
@import "../../settings/gradients.scss";
@import "./quantum/fluctuator_block";
@import "./quantum/energy_tab";
@import "./quantum/fields_tab";

#tab-quantum {
    .fields {
        position: relative;
        height: 100%;
        justify-content: center;
        user-select: none;
        display: flex;
        flex-direction: column;
        justify-content: center;

        quantum-field {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .field-surface {
                position: relative;
            }
        }
    }

    canvas {
        position: absolute;
        top: 0;
        z-index: 9;
        width: 100%;

        &.hovered {
            cursor: pointer;
            z-index: 10;
        }
    }

    .sub-tabs {
        [data-tab="energy"] {
            tool-tip {
                padding: 10px 5px;
                flex-direction: column;
                align-items: center;

                currency-display[name="energy"] {
                    @include gradient-electron;
                    background: var(--gradient);
                    text-shadow: 0px 0px 10px #fbff00b0;
                    color: transparent;
                    background-clip: text;
                    font-weight: 600;
                    font-size: 20px;
                    justify-content: center;
                }
            }
        }

        [data-tab="forces"] {
            tool-tip {
                align-items: center;

                .flavor-text {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 15px;
                }

                currency-display {
                    font-size: 14px;
                    justify-content: center;
                    width: 100%;

                    span {
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    #neutrino-field canvas {
        mask-image: linear-gradient(to right, #000a, transparent, transparent, #000a);
        mask-size: 200px;
        animation: animate 1s linear infinite;

        @keyframes animate {
            from {
                mask-position: 0px 0;
            }

            to {
                mask-position: 200px 0;
            }
        }
    }
}
