@import "../../helpers.scss";
@import "../../settings/gradients.scss";
@import "./quantum/fluctuator_block";

#tab-quantum {
    .fields {
        position: relative;
        height: 100%;
        justify-content: center;
        user-select: none;
        display: flex;
        flex-direction: column;
        justify-content: center;

        quantum-field {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .field-surface {
                position: relative;
            }
        }
    }

    canvas {
        position: absolute;
        top: 0;
        z-index: 9;

        &.hovered {
            cursor: pointer;
            z-index: 10;
        }
    }

    .sub-tabs {
        [data-tab="energy"] {
            tool-tip {
                padding: 10px 5px;
                flex-direction: column;
                align-items: center;

                currency-display[name="energy"] {
                    @include gradient-electron;
                    background: var(--gradient);
                    text-shadow: 0px 0px 10px #fbff00b0;
                    color: transparent;
                    background-clip: text;
                    font-weight: 600;
                    font-size: 20px;
                    justify-content: center;
                }
            }
        }

        [data-tab="forces"] {
            tool-tip {
                align-items: center;

                .flavor-text {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 15px;
                }

                currency-display {
                    font-size: 14px;
                    justify-content: center;

                    span {
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    .tab[data-tab="energy"] {
        display: flex;
        padding: 76px 30px;

        .counter {
            background-color: rgba(255, 255, 255, 0.05);
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 20px;

            .energy-amount {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-grow: 1;
                justify-content: center;

                .amount {
                    display: inline-block;
                    width: 100%;

                    currency-display {
                        font-weight: 600;
                        @include gradient-electron;
                        background: var(--gradient);
                        text-shadow: 0px 0px 10px #fbff00b0;
                        color: transparent;
                        background-clip: text;
                        padding: 0 30px;
                        font-size: 70px;
                        justify-content: center;
                        box-sizing: border-box;
                        width: 370px;
                        text-align: center;
                    }
                }
            }

            .fluctuators {
                width: 100%;
                margin-top: 15px;

                .block {
                    background-color: #0005;
                    width: 100%;
                    margin-top: 2px;
                }

                .title {
                    display: flex;
                    align-items: center;
                    padding: 10px 0;
                    justify-content: center;
                    color: #eee;
                    z-index: 10;
                    position: relative;

                    > translated-string {
                        font-weight: 100;
                        font-size: 20px;
                        text-transform: uppercase;
                    }

                    .info {
                        margin-left: 10px;
                        cursor: pointer;
                        color: #999;
                        transition: color 150ms;
                        transform: translateY(3px);

                        tool-tip {
                            width: 250px;
                            white-space: normal;
                            --offset: calc(100% + 10px);
                        }

                        &:hover {
                            color: #eee;
                        }
                    }
                }
            }

            .description {
                display: flex;
                align-items: center;
                font-weight: bold;

                .particle {
                    margin-right: 10px;
                }
            }
        }
    }

    .tab[data-tab="fields"] {
        display: flex;

        .selection {
            flex-grow: 1;
            justify-content: center;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: sticky;
            top: 0;

            .field-selection {
                flex-grow: 1;
                display: flex;
                align-items: center;

                .field-label {
                    position: relative;
                    display: inline-block;
                }
            }
        }

        .fields {
            flex-grow: 1;
            justify-content: flex-start;
            padding-top: 50px;
            padding-right: 50px;
            padding-top: 86px;

            .field {
                .name {
                    font-size: 24px;
                    font-family: var(--font-title);
                    font-weight: 200;
                    letter-spacing: 3px;
                    margin-bottom: 5px;
                    display: inline-block;
                }

                .container {
                    background-color: rgba(255, 255, 255, 0.05);
                    width: 100%;
                    height: 120px;
                    border-radius: 20px 20px 0 0;
                    position: relative;
                }

                .settings {
                    background-color: rgba(255, 255, 255, 0.1);
                    width: 100%;
                    height: 50px;
                    border-radius: 0 0 20px 20px;
                    margin-bottom: 20px;
                }
            }
        }
    }

    #neutrino-field canvas {
        mask-image: linear-gradient(to right, #000a, transparent, transparent, #000a);
        mask-size: 200px;
        animation: animate 1s linear infinite;

        @keyframes animate {
            from {
                mask-position: 0px 0;
            }

            to {
                mask-position: 200px 0;
            }
        }
    }
}
