body {
    --font-primary: "Red Hat Text", sans-serif;
    --font-special: "Funnel Display", sans-serif;
    --font-title: "Lexend Deca", sans-serif;
    --font-serif: "Cantata One", serif;
    --font-mono: "Inconsolata", monospace;

    font-family: var(--font-primary);
}
