:root {
    --gradient-direction: 45deg;
    --gradient-direction-reverse: 225deg;
    --gradient-direction-straight: 90deg;

    --color-electron-gradient-start: #fbff00;
    --color-electron-gradient-mid: #b1ae08;
    --color-electron-gradient-end: #8d8b00;

    --color-muon-gradient-start: #c4c700;
    --color-muon-gradient-mid: #a19f00;
    --color-muon-gradient-end: #6b6900;

    --color-tau-gradient-start: #7d8000;
    --color-tau-gradient-mid: #6d6b01;
    --color-tau-gradient-end: #424100;

    --color-neutrino-gradient-start: #b9b744;
    --color-neutrino-gradient-mid: #adad8b;
    --color-neutrino-gradient-end: #b9b744;

    --color-quark-rgb-gradient-start: #ff1c1c;
    --color-quark-rgb-gradient-mid: #0099da;
    --color-quark-rgb-gradient-end: #00ff37;

    --color-quark-red-gradient-start: #8f0000;
    --color-quark-red-gradient-mid: #ac3333;
    --color-quark-red-gradient-end: #ff71c2;

    --color-quark-green-gradient-start: #007206;
    --color-quark-green-gradient-mid: #13b677;
    --color-quark-green-gradient-end: #00ffd9;

    --color-quark-blue-gradient-start: #2323b9;
    --color-quark-blue-gradient-mid: #0099da;
    --color-quark-blue-gradient-end: #00d4ff;

    --color-gluon-gradient-start: #00aabb;
    --color-gluon-gradient-mid: #00daab;
    --color-gluon-gradient-end: #00ff44;

    --color-photon-gradient-start: #bbbb77;
    --color-photon-gradient-mid: #ffffff;
    --color-photon-gradient-end: #bbbb77;

    --color-weak-gradient-start: #aaaaaa;
    --color-weak-gradient-mid: #b9b9b9;
    --color-weak-gradient-end: #dddddd;

    --color-higgs-gradient-start: #7c6500;
    --color-higgs-gradient-mid: #998800;
    --color-higgs-gradient-end: #bb9900;
}
@mixin gradient-electron {
    --color-gradient-start: var(--color-electron-gradient-start);
    --color-gradient-mid: var(--color-electron-gradient-mid);
    --color-gradient-end: var(--color-electron-gradient-end);
    --gradient: linear-gradient(var(--gradient-direction), var(--color-gradient-start) 0%, var(--color-gradient-mid) 50%, var(--color-gradient-end) 100%);
}

@mixin gradient-muon {
    --color-gradient-start: var(--color-muon-gradient-start);
    --color-gradient-mid: var(--color-muon-gradient-mid);
    --color-gradient-end: var(--color-muon-gradient-end);
    --gradient: linear-gradient(var(--gradient-direction), var(--color-gradient-start) 0%, var(--color-gradient-mid) 50%, var(--color-gradient-end) 100%);
}

@mixin gradient-tau {
    --color-gradient-start: var(--color-tau-gradient-start);
    --color-gradient-mid: var(--color-tau-gradient-mid);
    --color-gradient-end: var(--color-tau-gradient-end);
    --gradient: linear-gradient(var(--gradient-direction), var(--color-gradient-start) 0%, var(--color-gradient-mid) 50%, var(--color-gradient-end) 100%);
}

@mixin gradient-neutrino {
    --color-gradient-start: var(--color-neutrino-gradient-start);
    --color-gradient-mid: var(--color-neutrino-gradient-mid);
    --color-gradient-end: var(--color-neutrino-gradient-end);
    --gradient: linear-gradient(var(--gradient-direction), var(--color-gradient-start) 0%, var(--color-gradient-mid) 50%, var(--color-gradient-end) 100%);
}

@mixin gradient-quark-rgb {
    --color-gradient-start: var(--color-quark-rgb-gradient-start);
    --color-gradient-mid: var(--color-quark-rgb-gradient-mid);
    --color-gradient-end: var(--color-quark-rgb-gradient-end);
    --gradient: linear-gradient(var(--gradient-direction-reverse), var(--color-gradient-start) 0%, var(--color-gradient-mid) 50%, var(--color-gradient-end) 100%);
}

@mixin gradient-quark-rgb-repeating {
    --color-gradient-start: var(--color-quark-rgb-gradient-start);
    --color-gradient-mid: var(--color-quark-rgb-gradient-mid);
    --color-gradient-end: var(--color-quark-rgb-gradient-end);
    --gradient: linear-gradient(var(--gradient-direction-reverse), var(--color-gradient-start) 0%, var(--color-gradient-mid) 33%, var(--color-gradient-end) 66%, var(--color-gradient-start) 100%);
}

@mixin gradient-quark-red {
    --color-gradient-start: var(--color-quark-red-gradient-start);
    --color-gradient-mid: var(--color-quark-red-gradient-mid);
    --color-gradient-end: var(--color-quark-red-gradient-end);
    --gradient: linear-gradient(var(--gradient-direction-reverse), var(--color-gradient-start) 0%, var(--color-gradient-mid) 50%, var(--color-gradient-end) 100%);
}

@mixin gradient-quark-green {
    --color-gradient-start: var(--color-quark-green-gradient-start);
    --color-gradient-mid: var(--color-quark-green-gradient-mid);
    --color-gradient-end: var(--color-quark-green-gradient-end);
    --gradient: linear-gradient(var(--gradient-direction-reverse), var(--color-gradient-start) 0%, var(--color-gradient-mid) 50%, var(--color-gradient-end) 100%);
}

@mixin gradient-quark-blue {
    --color-gradient-start: var(--color-quark-blue-gradient-start);
    --color-gradient-mid: var(--color-quark-blue-gradient-mid);
    --color-gradient-end: var(--color-quark-blue-gradient-end);
    --gradient: linear-gradient(var(--gradient-direction-reverse), var(--color-gradient-start) 0%, var(--color-gradient-mid) 50%, var(--color-gradient-end) 100%);
}

@mixin gradient-gluon {
    --color-gradient-start: var(--color-gluon-gradient-start);
    --color-gradient-mid: var(--color-gluon-gradient-mid);
    --color-gradient-end: var(--color-gluon-gradient-end);
    --gradient: linear-gradient(var(--gradient-direction), var(--color-gradient-start) 0%, var(--color-gradient-mid) 50%, var(--color-gradient-end) 100%);
}

@mixin gradient-photon {
    --color-gradient-start: var(--color-photon-gradient-start);
    --color-gradient-mid: var(--color-photon-gradient-mid);
    --color-gradient-end: var(--color-photon-gradient-end);
    --gradient: linear-gradient(var(--gradient-direction-straight), var(--color-gradient-start) 0%, var(--color-gradient-mid) 50%, var(--color-gradient-end) 100%);
}

@mixin gradient-weak {
    --color-gradient-start: var(--color-weak-gradient-start);
    --color-gradient-mid: var(--color-weak-gradient-mid);
    --color-gradient-end: var(--color-weak-gradient-end);
    --gradient: linear-gradient(var(--gradient-direction), var(--color-gradient-start) 0%, var(--color-gradient-mid) 50%, var(--color-gradient-end) 100%);
}

@mixin gradient-higgs {
    --color-gradient-start: var(--color-higgs-gradient-start);
    --color-gradient-mid: var(--color-higgs-gradient-mid);
    --color-gradient-end: var(--color-higgs-gradient-end);
    --gradient: linear-gradient(var(--gradient-direction), var(--color-gradient-start) 0%, var(--color-gradient-mid) 50%, var(--color-gradient-end) 100%);
}
