svg {
    --icon-color: currentcolor;
    --size: 50px;

    width: var(--size);
    height: var(--size);

    & > path {
        display: none;
    }

    path, g {
        fill: var(--icon-color);
    }
}
