svg-icon {
    --icon-color: currentcolor;
    --size: 50px;

    &,
    svg {
        overflow: visible;
        width: var(--size);
        height: var(--size);
        color: var(--icon-color);
    }
}
