@import "../../../settings/gradients.scss";

#tab-quantum {
    .tab[data-tab="energy"] {
        display: flex;
        padding: 76px 30px;
        gap: 50px;

        .info {
            cursor: pointer;
            color: #999;
            transition: color 150ms;

            &:hover {
                color: #eee;
            }
        }

        .counter {
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;
            position: sticky;
            top: 0;
            min-width: 370px;

            .energy-amount {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-grow: 1;
                justify-content: center;

                .amount {
                    display: inline-block;
                    width: 100%;

                    currency-display {
                        font-weight: 600;
                        @include gradient-electron;
                        background: var(--gradient);
                        text-shadow: 0px 0px 10px #fbff00b0;
                        color: transparent;
                        background-clip: text;
                        padding: 0 30px;
                        font-size: 70px;
                        justify-content: center;
                        box-sizing: border-box;
                        width: 370px;
                        text-align: center;
                    }
                }
            }

            .fluctuators {
                width: 100%;
                margin-top: 15px;
                transition: margin-bottom 250ms;

                &[data-hidden="1"] {
                    margin-bottom: -70px;
                }

                &[data-hidden="2"] {
                    margin-bottom: -140px;
                }

                &[data-hidden="3"] {
                    margin-bottom: -210px;
                }

                &[data-hidden="4"] {
                    margin-bottom: -280px;
                }

                .block {
                    background-color: #0005;
                    width: 100%;
                }

                .title {
                    display: flex;
                    align-items: center;
                    padding: 10px 0;
                    justify-content: center;
                    color: #eee;
                    z-index: 10;
                    position: relative;

                    > translated-string {
                        font-weight: 100;
                        font-size: 20px;
                        text-transform: uppercase;
                    }

                    .info {
                        margin-left: 10px;
                        transform: translateY(3px);

                        tool-tip {
                            width: 250px;
                            white-space: normal;
                            --offset: calc(100% + 10px);
                        }
                    }
                }
            }

            .description {
                display: flex;
                align-items: center;
                font-weight: bold;

                .particle {
                    margin-right: 10px;
                }
            }
        }

        .purchases {
            display: flex;
            flex-direction: column;
            gap: 20px;
            flex-grow: 1;
            overflow-x: hidden;
            overflow-y: visible;

            > div {
                > .title {
                    margin-bottom: 10px;
                    display: flex;
                    align-items: center;
                    margin-left: 30px;

                    translated-string {
                        flex-grow: 1;
                    }

                    label {
                        margin-right: 30px;
                    }
                }
            }

            .energy-upgrades {
                .section {
                    overflow-x: auto;
                    padding: 0 5px;
                    height: 160px;
                    position: relative;

                    .completed-label {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 10;
                        transition: opacity 250ms;
                        pointer-events: none;
                        display: none;
                    }

                    &:has(stat-upgrade:not(.completed)) {
                        .completed-label {
                            opacity: 0;
                        }
                    }

                    .wrapper {
                        display: flex;
                        overflow-x: scroll;
                        scrollbar-width: none;
                        -webkit-scrollbar-width: none;
                        mask-image: linear-gradient(to right, transparent 0%, #000 3%, #000 97%, transparent 100%);
                        padding-left: 20px;
                    }
                }
            }

            .energy-upgrades {
                .section stat-upgrade {
                    @include gradient-electron;
                }

                stat-upgrade.completed-transition {
                    animation-name: none;
                }

                .title:has(#quantum-energy-hide-complete:checked) + .section {
                    stat-upgrade.completed {
                        display: none;
                    }

                    .completed-label {
                        display: inline-block;
                    }

                    stat-upgrade.completed-transition {
                        animation-name: completed-animation;
                    }
                }
            }

            .particle-conversion {
                flex-grow: 1;
                display: flex;
                flex-direction: column;

                .info {
                    margin-left: 5px;
                    transform: translateY(1px);

                    tool-tip {
                        width: 250px;
                        white-space: normal;
                        --offset: calc(100% + 10px);
                    }
                }

                .section {
                    flex-grow: 0;
                }

                .title {
                    translated-string {
                        flex-grow: 0;
                    }
                }

                .converters {
                    display: flex;
                    align-items: stretch;
                    height: 100%;

                    .converter {
                        flex-grow: 0;
                        display: flex;
                        align-items: center;
                        padding: 20px;
                        min-width: 520px;
                        box-sizing: border-box;

                        .selection {
                            background-color: #fff1;
                            border-radius: 100%;
                            height: 150px;
                            width: 150px;
                        }

                        .arrow {
                            margin: 0 40px;
                            border: 4px solid #fff3;
                            border-right: 0;
                            border-left: 0;
                            padding: 10px 30px;
                            position: relative;
                            height: 50px;
                            box-sizing: border-box;

                            &::before {
                                content: "";
                                position: absolute;
                                top: 50%;
                                right: 0;
                                transform: translateY(-50%);
                                border-top: 15px solid transparent;
                                border-bottom: 15px solid transparent;
                                border-left: 15px solid #fff3;
                            }
                        }

                        .output {
                            background-color: #fff1;
                            padding: 10px 20px;
                            border-radius: 10px;
                        }
                    }
                }
            }
        }
    }
}
