@import "../../../settings/gradients.scss";

#tab-quantum {
    .tab[data-tab="energy"] {
        display: flex;
        padding: 76px 30px;
        gap: 50px;

        .counter {
            display: flex;
            flex-direction: column;
            align-items: center;

            .energy-amount {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-grow: 1;
                justify-content: center;

                .amount {
                    display: inline-block;
                    width: 100%;

                    currency-display {
                        font-weight: 600;
                        @include gradient-electron;
                        background: var(--gradient);
                        text-shadow: 0px 0px 10px #fbff00b0;
                        color: transparent;
                        background-clip: text;
                        padding: 0 30px;
                        font-size: 70px;
                        justify-content: center;
                        box-sizing: border-box;
                        width: 370px;
                        text-align: center;
                    }
                }
            }

            .fluctuators {
                width: 100%;
                margin-top: 15px;

                .block {
                    background-color: #0005;
                    width: 100%;
                    margin-top: 2px;
                }

                .title {
                    display: flex;
                    align-items: center;
                    padding: 10px 0;
                    justify-content: center;
                    color: #eee;
                    z-index: 10;
                    position: relative;

                    > translated-string {
                        font-weight: 100;
                        font-size: 20px;
                        text-transform: uppercase;
                    }

                    .info {
                        margin-left: 10px;
                        cursor: pointer;
                        color: #999;
                        transition: color 150ms;
                        transform: translateY(3px);

                        tool-tip {
                            width: 250px;
                            white-space: normal;
                            --offset: calc(100% + 10px);
                        }

                        &:hover {
                            color: #eee;
                        }
                    }
                }
            }

            .description {
                display: flex;
                align-items: center;
                font-weight: bold;

                .particle {
                    margin-right: 10px;
                }
            }
        }

        .purchases {
            display: flex;
            flex-direction: column;
            gap: 20px;
            flex-grow: 1;
            overflow-y: hidden;

            > div {
                > .title {
                    margin-bottom: 10px;
                    display: flex;
                    align-items: center;
                    margin-left: 30px;

                    translated-string {
                        flex-grow: 1;
                    }

                    label {
                        margin-right: 30px;
                    }
                }
            }

            .energy-upgrades,
            .quark-upgrades {
                .section {
                    overflow-x: auto;
                    padding: 0 5px;

                    .wrapper {
                        display: flex;
                        overflow-x: scroll;
                        scrollbar-width: none;
                        -webkit-scrollbar-width: none;
                        mask-image: linear-gradient(to right, transparent 0%, #000 3%, #000 97%, transparent 100%);
                        padding-left: 20px;
                    }
                }
            }

            .energy-upgrades {
                .section stat-upgrade {
                    @include gradient-electron;
                }
            }

            .quark-upgrades {
                flex-grow: 1;
                display: flex;
                flex-direction: column;

                .section {
                    flex-grow: 1;

                    .upgrade .cost {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;

                        .particle {
                            --size: 18px;

                            &::before {
                                font-size: 14px;
                            }
                        }

                        &::before {
                            @include gradient-quark-rgb;
                        }
                    }
                }
            }
        }
    }
}
