@import "../../helpers.scss";
@import "../../settings/gradients.scss";
@import "./quantum/fluctuator_block";
@import "./quantum/energy_tab";
@import "./quantum/fields_tab";

#tab-quantum {
    .fields {
        position: relative;
        height: 100%;
        justify-content: center;
        user-select: none;
        display: flex;
        flex-direction: column;
        justify-content: center;

        quantum-field {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .field-surface {
                position: relative;
            }
        }
    }

    canvas {
        position: absolute;
        top: 0;
        z-index: 9;
        width: 100%;

        &.hovered {
            cursor: pointer;
            z-index: 10;
        }
    }

    #neutrino-field canvas {
        mask-image: linear-gradient(to right, #000a, transparent, transparent, #000a);
        mask-size: 200px;
        animation: animate 1s linear infinite;

        @keyframes animate {
            from {
                mask-position: 0px 0;
            }

            to {
                mask-position: 200px 0;
            }
        }
    }
}
