@import "../settings/colors.scss";

body {
    --color-bg: #{$color-gray-dark5};
    --color-text: #{$color-white};
    --color-navigation: #{$color-gray-light};
    --color-navigation-active: #{$color-gray-dark5};
    --color-navigation-inactive: #{$color-gray3};
    --color-navigation-disabled: #{$color-gray-light2};
    --color-navigation-hover: #{$color-gray-light2};
    --color-tooltip: #{rgba($color-gray-dark4, 0.85)};
    --color-tooltip-text: #{$color-gray-light};
    --color-tooltip-description: #{$color-gray-light3};
    --color-tooltip-separator: #{$color-gray-dark2};
}

body.dark-navigation {
    --color-navigation: #{$color-gray-dark};
    --color-navigation-text: #{$color-gray-light};
}
