@import "../settings/colors.scss";

body {
    --color-bg: #{$color-gray-dark5};
    --color-text: #{$color-white};
    --color-navigation: #{$color-gray-light};
    --color-navigation-active: #{$color-gray-dark5};
    --color-navigation-inactive: #{$color-gray3};
    --color-navigation-disabled: #{$color-gray-light2};
    --color-navigation-hover: #{$color-gray-light2};
}

body.dark-navigation {
    --color-navigation: #{$color-gray-dark};
    --color-navigation-text: #{$color-gray-light};
}
