@import "../../../settings/gradients.scss";

particle-converter {
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    transition: background-color 150ms;
    justify-content: space-between;
    gap: 0;
    flex-grow: 1;
    width: calc(50% - 0.5rem);
    min-width: 480px;

    &::after,
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0009;
        font-size: 2rem;
        opacity: 0;
        transition: opacity 150ms;
        z-index: 10;
        font-weight: lighter;
        text-transform: uppercase;
        text-align: center;
        font-family: "Material Symbols Outlined";
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        font-feature-settings: "liga";
        -webkit-font-feature-settings: "liga";
        -webkit-font-smoothing: antialiased;
        font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
        font-size: 60px;
        z-index: 10;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, .8);
        color: #fff;
        display: flex;
    }

    &::before {
        content: "lock";
    }

    &::after {
        content: "pause";
    }

    &[locked] {
        &::before {
            opacity: 1;
        }

        &::after {
            opacity: 0;
        }
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    &.unlocked::before {
        content: "mode_off_on";
    }

    &:not(.unlocked) {
        pointer-events: none;
    }

    &[locked] {
        .arrow {
            color: transparent;
        }

        .input {
            &::before {
                opacity: 0;
            }

            .particle {
                opacity: 0;
            }

            stat-info {
                opacity: 0;
            }
        }

        .output {
            span {
                opacity: 0;
            }
        }
    }

    &[disabled]:not([locked])::after {
        opacity: 1;
    }

    animation: active-converter 3s infinite;
    animation-play-state: paused;

    @keyframes active-converter {
        0% {
            background-color: rgba(255, 255, 255, 0.05);
        }
        50% {
            background-color: rgba(255, 255, 255, 0.1);
        }
        100% {
            background-color: rgba(255, 255, 255, 0.05);
        }
    }

    &:not([disabled]) {
        &::before {
            opacity: 0;
        }

        animation-play-state: running;

        .input::before {
            animation-play-state: running;
        }

        &[blocked] {
            background-color: rgba(255, 0, 0, 0.1);
            animation: blocked-converter 3s infinite;
            animation-delay: 150ms;

            @keyframes blocked-converter {
                0% {
                    background-color: rgba(255, 0, 0, 0.1);
                }
                50% {
                    background-color: rgba(255, 0, 0, 0.25);
                }
                100% {
                    background-color: rgba(255, 0, 0, 0.1);
                }
            }

            .input {
                &::before {
                    animation-play-state: paused;
                }

                currency-display {
                    color: rgb(255, 91, 91);
                    text-shadow: 0 0 10px rgb(255, 91, 91);
                    animation: blocked-converter-text 3s infinite;
                    animation-delay: 150ms;

                    @keyframes blocked-converter-text {
                        0% {
                            color: rgb(255, 91, 91);
                            text-shadow: 0 0 10px rgb(255, 91, 91);
                        }
                        50% {
                            color: rgb(150, 18, 18);
                            text-shadow: 0 0 10px rgb(150, 18, 18);
                        }
                        100% {
                            color: rgb(255, 91, 91);
                                text-shadow: 0 0 10px rgb(255, 91, 91);
                        }
                    }
                }
            }
        }
    }

    .input {
        background-color: #fff1;
        border-radius: 100%;
        height: 150px;
        width: 150px;
        min-width: 150px;
        min-height: 150px;
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            @include gradient-quark-rgb;
            background: var(--gradient);
            animation: active-converter-input 3s infinite;
            animation-play-state: paused;
            transition: opacity 150ms;

            @keyframes active-converter-input {
                0% {
                    filter: brightness(0.4) grayscale(0);
                }

                5% {
                    filter: brightness(0.6) grayscale(0);
                }

                50% {
                    filter: brightness(0.2) grayscale(0.3);
                }

                100% {
                    filter: brightness(0.4) grayscale(0);
                }
            }
        }

        .circle {
            width: 80px; height: 80px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -40px 0 0 -40px;

            .particle {
                position: absolute;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background: var(--color-background-primary);
                border: 5px solid var(--color-border-secondary);
                display: flex; align-items: center; justify-content: center;
                font-size: 18px;
                top: 50%; left: 50%;
                margin: -15px 0 0 -15px;
                transition: opacity 150ms;
            }
        }

        currency-display {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-top: -4px;
            font-weight: bold;
            font-size: 2.5rem;
            text-shadow: 0 0 10px white;
            transition: opacity 150ms;
            justify-content: center;
            transition: color 150ms, text-shadow 150ms;
        }
    }

    .arrow {
        margin: 0 20px;
        border: 4px solid #fff3;
        border-right: 0;
        border-left: 0;
        padding: 10px 30px;
        position: relative;
        height: 50px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        gap: 0.3rem;
        color: #DDD;
        transition: color 150ms;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        min-width: 112px;

        .interval {
            margin-top: 2px;
        }

        .progress {
            position: absolute;
            height: 100%;
            width: 100%;
            clip-path: xywh(0 -5px 0% calc(100% + 10px));
            left: 0;

            &::before,
            &::after {
                content: "";
                width: 100%;
                height: 4px;
                position: absolute;
                bottom: 100%;
                left: 0;
                border-radius: 10px;
                @include gradient-gluon;
                background: var(--gradient-repeating);
                background-size: 400px 100%;
                animation: converter-progress 3s linear infinite;

                @keyframes converter-progress {
                    from {
                        background-position-x: 0px;
                    }
                    to {
                        background-position-x: 800px;
                    }
                }
            }

            &::after {
                top: 100%;
                bottom: auto;
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 15px solid #fff3;
        }
    }

    .output {
        background-color: #fff1;
        padding: 10px 20px;
        border-radius: 10px;
        text-align: center;
        font-weight: bold;
        height: 100%;
        display: flex;
        align-items: center;
        white-space: break-spaces;
        width: 137px;
        box-sizing: border-box;
        max-width: 137px;
        min-width: 137px;

        span {
            @include gradient-gluon;
            background: var(--gradient);
            color: rgba(255, 255, 255, 0.2);
            background-clip: text;
            transition: opacity 150ms;
        }
    }

    &.red:not([locked]) {
        .input, .output {
            &::before,
            span {
                @include gradient-quark-red;
            }

            &::before {
                opacity: 0.8;
            }
        }

        .progress {
            &::before,
            &::after {
                @include gradient-quark-red;
            }
        }
    }

    &.green:not([locked]) {
        .input, .output {
            &::before,
            span {
                @include gradient-quark-green;
            }

            &::before {
                opacity: 0.8;
            }
        }

        .progress {
            &::before,
            &::after {
                @include gradient-quark-green;
            }
        }
    }

    &.blue:not([locked]) {
        .input, .output {
            &::before,
            span {
                @include gradient-quark-blue;
            }
        }

        .progress {
            &::before,
            &::after {
                @include gradient-quark-blue;
            }
        }
    }

    @media screen and (max-width: 1429px) {
        
    }
}
