@import "../../settings/gradients.scss";

.resource.particle {
    --size: 25px;
    --glow: rgba(0, 0, 0, 0.75);
    width: var(--size);
    height: var(--size);
    box-shadow: 0 0 10px 0px var(--glow);
    position: relative;

    &::before {
        font-weight: bold;
        font-size: 18px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    }

    &.electron {
        border-radius: 100%;
        background: $gradient-electron;
        --glow: #fbff00b0;

        &::before {
            content: "e⁻";
            transform: translate(-50%, -50%) translate(0.5px, -2px);
        }
    }

    &.muon {
        border-radius: 100%;
        background: $gradient-muon;
        --glow: #c4c700b0;

        &::before {
            content: "μ⁻";
            transform: translate(-50%, -50%) translate(0.5px, -2px);
        }
    }

    &.tau {
        border-radius: 100%;
        background: $gradient-tau;
        --glow: #7d8000b0;

        &::before {
            content: "τ";
            transform: translate(-50%, -50%) translate(-3px, -2px);
        }

        &::after {
            content: "⁻";
            font-weight: bold;
            font-size: 18px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) translate(5px, -2px);
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
        }
    }

    &.boson {
        &.gluon {

        }

        &.photon {
            
        }

        &.gluon {
            
        }

        &.w-plus,
        &.w-minus,
        &.z {
            --glow: #fff9;
            background: $gradient-weak;
            border-radius: 3px;
        }

        &.w-plus {
            &::before {
                content: "W⁺";
            }
        }

        &.w-minus {
            transform: rotate(45deg);
            &::before {
                content: "W⁻";
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }

        &.z {
            &::before {
                content: "Z⁰";
                transform: translate(-50%, -50%);
            }
        }

        &.higgs {
            
        }
    }

    &.quark {
        --glow: #fff9;
        &::before {
            //font-family: "Cantata One", serif;
        }

        &.up,
        &.down {
            border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
            border: 0;
            transform: rotate(-45deg);
            background: $gradient-quark-rgb;
            --gradient-direction: 90deg;
            --gradient-direction-reverse: 270deg;
        }

        &.up {
            &::before {
                content: "u";
                transform: translate(-50%, -50%) rotate(45deg) translate(-1.5px, -2px);
            }
        }

        &.down {
            transform: translateY(-2.5px) rotate(-225deg);
            --gradient-direction: 270deg;
            --gradient-direction-reverse: 90deg;

            &::before {
                content: "d";
                transform: translate(-50%, -50%) rotate(225deg) translate(0px, 0px);
            }
        }

        &.top,
        &.bottom {
            background: $gradient-quark-rgb;
            --gradient-direction: 45deg;
            --gradient-direction-reverse: 225deg;
            border-radius: 35% 35% 100% 100%;
        }

        &.top {
            &::before {
                content: "t";
                transform: translate(-50%, -50%) translate(-0.5px, -2px);
            }
        }

        &.bottom {
            transform: rotate(180deg);
            --gradient-direction: 225deg;
            --gradient-direction-reverse: 45deg;

            &::before {
                content: "b";
                transform: translate(-50%, -50%) rotate(180deg) translate(0.5px, 1px);
            }
        }

        &.charm,
        &.strange {
            background: $gradient-quark-rgb;
            --gradient-direction: 60deg;
            --gradient-direction-reverse: 240deg;
            border-radius: 10% 50% 10% 50%;
        }

        &.charm {
            &::before {
                content: "c";
                transform: translate(-50%, -50%) translate(-0.5px, -2px);
            }
        }

        &.strange {
            border-radius: 50% 10% 50% 10%;

            &::before {
                content: "s";
                transform: translate(-50%, -50%) translate(-1.5px, -2px);
            }
        }

        &.blue {
            background: $gradient-quark-blue;
            --glow: #0cfb;
        }

        &.red {
            background: $gradient-quark-red;
            --glow: #f00b;
        }

        &.green {
            background: $gradient-quark-green;
            --glow: #0f0b;
        }
    }
}
